h1 {
  text-align: center;
  color:navy;
}
h2 {
  color:navy;
}
body {
    background-color:white;
  }
p {
    font-family:"Times New Roman";
    color:black;
    font-size:14pt;
  }

.nav-main {
  list-style: none;
  padding: .45em 0 .5em
}

.nav-main li {
  border-left: 1px solid #c8c8c8;
}

.nav-main a {
  color: navy
  font-size: 1.125em;
  font-weight: bold;
}
